{{#each erros}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h3>Editar Cliente:</h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/clientes/edit" method="POST">
      <input type="hidden" name="id" value="{{client._id}}" />
      <label for="name">Nome:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Nome do cliente"
        class="form-control"
        value="{{client.name}}"
      />
      <label for="cellphone">Celular:</label>
      <input
        type="number"
        id="cellphone"
        name="cellphone"
        placeholder="Celular do cliente (84900000000)"
        class="form-control"
        value="{{client.cellphone}}"
      />
      <label for="cellphone">Slug:</label>
      <input
        type="text"
        id="slug"
        name="slug"
        placeholder="slug do cliente"
        class="form-control"
        value="{{client.slug}}"
      />
      <button type="submit" class="btn btn-success mt-4">Editar cliente</button>
    </form>
  </div>
</div>